.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  border: 0px solid orange;
}

.App-body {
  border: 0px solid cyan;
}  

.App-header {
  /* margin-top: -50px; */
  border: 0px solid yellow;
  font-size: calc(10px + 2vmin);
  color: white;
}

h3, h2 {
  letter-spacing: 5px;
  font-family: 'Sen', sans-serif;
  margin: 0px;
}



