.CardDeck {
  color: white;
}

.CardDeck button{
  width: 150px;
  height: 40px;
  font-size: 15pt;
  outline: none;
  border-radius: 10px;
  background-color: dodgerblue;
  border: 0px solid black;
  margin: 10px;
}

.Cards {
  /* border: 1px solid red; */
}

